.banner {
  background: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), image-url("background.png") no-repeat center;
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
    h1 {
      font-size: 50px;
      font-weight: bold;
      text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    }
    p {
      font-size: 20px;
      font-weight: lighter;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 20px;
    }
}

.title {
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.button-banner {
  margin-top: 40px;
}
